<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minventar</title>

    <script src="/vendor/components/jquery/jquery.js"></script>
    <script src="/vendor/components/underscore/underscore.js"></script>
    <script src="/vendor/components/backbone/backbone.js"></script>
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.css">
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/components/handlebars.js/handlebars.js"></script>

    <link rel="stylesheet" href="/vendor/maxazan/jquery-treegrid/css/jquery.treegrid.css">
    <script src="/vendor/maxazan/jquery-treegrid/js/jquery.treegrid.js"></script>


    <script src="/js/models/minventarModels.js"></script>
    <script src="/js/views/minventarView.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>


<div id="minventar" class="container-fluid">
    <!--test-->
    <table class="tree table table-bordered table-hover">
        <tr class="treegrid-1">
            <td>Root node</td>
            <td>Additional info</td>
        </tr>
        <tr class="treegrid-2 treegrid-parent-1">
            <td>Node 1-1</td>
            <td>Additional info</td>
        </tr>
        <tr class="treegrid-xx treegrid-parent-1">
            <td>Node 1-2</td>
            <td>Additional info</td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-xx">
            <td>Node 1-2-1</td>
            <td>Additional info</td>
        </tr>
    </table>

    <h1 id="heading">Resources</h1>

    <div class="row"><br></div>

    <div id="control-bar" class="well">
        <button id="creation-button" type="button" class="btn btn-primary btn-lg">Create resource</button>
        <div class="row"><br></div>

        <div class="row">
            <div class="col-sm-1">
                <div class="radio">
                    <label class="active"><input
                            id="resources-radio" type="radio" name="overviewtype" checked>Resources</label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="radio">
                    <label><input id="resources-types-radio" type="radio" name="overviewtype">Resource types</label>
                </div>
            </div>

        </div>
    </div>


    <div id="creation-dialog"></div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div id="filter-dialog">

    </div>


    <div id="data-table"></div>

</div>
</body>
</html>