<div class="attr-definition">
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" id="attr-name" value={{attrvalue}} required>
        </div>
        <div class="col-sm-2">
            <div class="form-group">

                <select id="attr-type" class="form-control" style="width: auto">
                    {{attrtype}}
                </select>

            </div>
        </div>
        <div class="col-sm-1">
            <button id="rmv-attr" type="button" class="btn btn-link"><span class="glyphicon glyphicon-minus"
                                                                           style="color:red"></span></button>
        </div>
    </div>
    <div class="row"><br></div>
</div>