<div class="well well-sm">
    <form id="filter-form" class="form-inline" role="form">
        <div class=" pull-right text-right">
            <div class="form-group ">
                <label class="control-label ">Name:</label>
                <input type="text" class="form-control" id="name-filter" placeholder="Enter name">

            </div>
            <div class="form-group col-sm4"><select id="filter-mode" class="form-control" style="width: auto"
                    >
                <option value="default-resource-selection" selected="selected">
                    All
                </option>
                <option>Bundles</option>
                <option>Resources</option>
                <option disabled>-------Types-------</option>
                {{types}}
            </select>
            </div>
            <div class="form-group col-sm4">
                <button id="filter-btn" type="submit" class="btn btn-primary">Filter</button>
                <button id="filter-reset-btn" type="button" class="btn btn-default">Reset</button>
            </div>
        </div>
    </form>
    <div class="row"><br></div>
</div>