<div id="update-dialog" class="col-sm-6">
    <div id="mongo-id" style="color: grey">{{id}}</div>
    <div class="row"><br></div>
    <form id="update-form" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="input-name" placeholder={{name}} required
                       value={{name}}>
            </div>
        </div>

        <div class="row actions-bar" id={{id}}>
            <div class="col-sm-8 pull-right text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#save-modal">Save
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                    Delete
                </button>
                <button id="cancel-btn" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>

        <div id="delete-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User action required</h4>
                    </div>
                    <div class="modal-body">
                        <p>Delete this resource type?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="delete-btn" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="save-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User action required</h4>
                    </div>
                    <div class="modal-body">
                        <p>Modify this resource type?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="save-btn" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>